
<div class="dashboard-grid">
    <div class="teacher-box">
      <h2>My profile</h2>
      <br>
      <h4><%= current_user.full_name %></h4>
      <br>
      <%= cl_image_tag current_user.instructor.photo, class: "avatar" %>
    </div>

    <div class="student-list">
      <h3>Number of students this week</h3>
        <h1><%= @booked_lessons %></h1>
        <br>
        <br>
        <br>
        <%= link_to "See bookings", bookings_path, class:"button-banner" %>
    </div>

    <div class="new-student-list">
       <h3>Available slots</h3>
      <h1><%= @unbooked_lessons.count %></h1>
    </div>
</div>
