
<div class="dashboard-grid">
    <div class="teacher-box">
      <h3>My profile</h3>
      <br>
      <h4><%= current_user.full_name %></h4>
      <br>
      <%= cl_image_tag current_user.instructor.photo, class: "avatar" %>
      <br>
      <br>
      <p id="description">Owner of Amager Trafikskole</p>
      <p id="description">Formula 1 driver</p>
    </div>

    <div class="student-list">
      <h3>Number of students this week</h3>
        <h1><%= @booked_lessons %></h1>
        <br>
        <%= link_to "See bookings", bookings_path, class:"button-banner" %>
    </div>

    <div class="new-student-list">
       <h3>Available slots</h3>
      <h1><%= @unbooked_lessons.count %></h1>
    </div>

    <div class="extra-field">
      <h3>Earned money this week</h3>
      <br>
      <div>
        <h1 id= "money-dkk"> <span id ="money_dashboard">  <%= @booked_lessons * 500 %></span> DKK </h1>
      </div>
    </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag "countup" %>
<% end %>
