<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<div class="banner-home" style="background-image: url(<%= image_path "background_with_opacity.png" %>);">

  <%= image_tag "mac_front_page.png", id:"mac-for_background" %>
  <h1 id="first-header">Connecting driving schools and its students digitally</h1>


  <%= link_to "Login as teacher", new_user_session_path, class:"button-banner" %>
  <%= link_to "Login as student", new_user_session_path, class:"button-banner" %>
</div>

<div id="share">

            <!-- facebook share button -->
            <a class="facebook" href="https://www.facebook.com/ target="blank"><i class="fa fa-facebook"></i></a>

            <!-- twitter share button-->
            <a class="twitter" href="https://twitter.com/ target="blank"><i class="fa fa-twitter"></i></a>

            <!-- google plus share button -->
            <a class="googleplus" href="https://plus.google.com/ target="blank"><i class="fa fa-google-plus"></i></a>

            <!-- linkedin share button -->
            <a class="linkedin" href="https://www.linkedin.com/ target="blank"><i class="fa fa-linkedin"></i></a>

     </div>


<!-- Review section -->
<div class="instructor-reviews-container">

  <div class="content-header-flex">
    <div class="content-header-container">
      <h2 class="content-header"><span> What other schools think of us</span></h2>
    </div>
  </div>

  <div class="review-grid">

    <!-- Review 1 -->
    <div class="review-item">
      <%= image_tag("business_2.png", class:"review-avatar")  %>
      <p>Virkelig godt system som er meget brugervenligt - det er jo nærmest selvkørende. God service! Man får hjælp straks. Alt er nemt, og det meste kan klares fra app'en, når jeg er på farten.<br><br>
        <span class="review-name">- Rikke Siesby, indehaver af Østerbro Trafikskole</span></p>
      </div>

      <!-- Review 2 -->
      <div class="review-item">
        <%= image_tag("business_1.png", class:"review-avatar")  %>
        <p>Fantastisk overskueligt kalendersystem som er let at arbejde med. Eleverne er glade for overskueligheden Kobler er fantastisk, og jeg vil klart anbefale det til andre.<br><br>
          <span class="review-name">- Daniel Rask, indehaver af Sjællands Køreskole</span></p>
        </div>

        <!-- Review 3 -->
        <div class="review-item">
          <%= image_tag("business_3.png", class:"review-avatar")  %>
          <p>Det har lette mine administrative arbejdsopgaver markant at samle tingene et sted. Siden vi har taget systemet i brug, er der ikke én elev der har glemt sin kørelektion grundet påmindelser.<br><br>
            <span class="review-name">- Ilse Hansen, indehaver af Hornbæk Trafikskole</span></p>
          </div>

          <!-- Review 4 -->
          <div class="review-item">
            <%= image_tag("business_4.png", class:"review-avatar")  %>
            <p>Det har lettet mit job som kørelærer enormt at have en dynamisk kalender, som stort set klarer alle mine kattepiner ved jobbet. Hver uge har jeg en fuldt booket kalender, og så næsten uden at løfte en finger.<br><br>
              <span class="review-name">- Henrik Larsen, indehaver af Bornholm Trafikskole</span></p>
            </div>

          </div>
        </div>


        <!-- Map section -->
        <div class="find-schools-map">
          <div class="content-header-flex">
            <div class="content-header-container">
              <h2 class="content-header"><span> Where can you find driving schools with Kobler?</span></h2>
            </div>
          </div>
          <%= image_tag "map_dk.png", class:"image-center" %>

        </div>


        <!-- Register section -->
        <div class="register-container">
          <div class="content-header-flex">
            <div class="content-header-container">
              <h2 class="content-header"><span> Register for a personal tour of Kobler</span></h2>
            </div>
          </div>
          <p class="text-center">Register for an online meeting where we give you a personal tour of the Kobler system.</p>

          <!-- Form for personal tours -->
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="form-personal-tour">
               <%= simple_form_for(@personal_tour) do |f| %>
               <%= f.error_notification %>

               <div class="form-group">
                 <%= f.input :driving_school_name %>
               </div>

               <div class="row">
                <div class="col-xs-6">
                 <div class="form-group">
                   <%= f.input :full_name %>
                 </div>
               </div>

               <div class="col-xs-6">
                 <div class="form-group">
                   <%= f.input :phone_number %>
                 </div>
               </div>

               <div class="col-xs-6">
                 <div class="form-group">
                   <%= f.input :email %>
                 </div>
               </div>

               <div class="col-xs-6">
                 <div class="form-group">
                   <%= f.input :number_of_teachers %>
                 </div>
               </div>
             </div>

             <%= f.submit "Register", class: "button-form form-control", id: "form-button-home" %>
             <% end %>
           </div>
             <div class="footer"><div class="text-and-heart"> Made with <i class="fas fa-heart"></i> by K.G.B.L </div>
              </div>
         </div>

       </div>


     </div>


   </div>
